<div class="d-flex justify-content-between align-items-center border-bottom">
  <h2 mat-dialog-title>
    @if(projectId){Update} @else{Create} Planning Project
  </h2>
  <button
    mat-mini-fab
    mat-dialog-close
    class="shadow-none bg-white border mx-3"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
<form [formGroup]="projectForm" (submit)="onSubmit()">
  <mat-dialog-content class="overflow-hidden">
    <mat-label class="form-label">Project Name</mat-label>
    <mat-form-field appearance="outline" class="full-width">
      <input matInput placeholder="Enter name" formControlName="name" />
    </mat-form-field>

    <mat-label class="form-label">Project description</mat-label>
    <mat-form-field appearance="outline" class="full-width">
      <input
        matInput
        placeholder="Enter description"
        formControlName="description"
      />
    </mat-form-field>

    @if(projectId && dialogData.edit){
    <div class="row">
      <div class="col-6">
        <mat-label class="form-label">Co-planner</mat-label>
        <mat-form-field appearance="outline" class="full-width">
          <input
            matInput
            placeholder="Add any co-planner"
            formControlName="planners"
            [matAutocomplete]="planner"
          />
          <mat-autocomplete
            #planner="matAutocomplete"
            [displayWith]="getPlannerName.bind(this)"
          >
            @for(user of planners;track user){
            <mat-option [value]="user.id">{{ user.name }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-label class="form-label">Project Budget</mat-label>
        <mat-form-field appearance="outline" class="full-width">
          <input
            matInput
            placeholder="Enter budget"
            formControlName="totalBudget"
            (keyup)="formatBudget()"
            [value]="formattedBudget"
          />
          <mat-error>Project budget is required</mat-error>
        </mat-form-field>
      </div>
    </div>
    } @else {
    <mat-label class="form-label">Co-planner</mat-label>
    <mat-form-field appearance="outline" class="full-width">
      <input
        matInput
        placeholder="Add any co-planner"
        formControlName="planners"
        [matAutocomplete]="planner"
      />
      <mat-autocomplete
        #planner="matAutocomplete"
        [displayWith]="getPlannerName.bind(this)"
      >
        @for(user of planners;track user){
        <mat-option [value]="user.id">{{ user.name }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    }
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="border-top">
    <button type="submit" mat-flat-button color="primary" class="rounded-5">
      @if(projectId){ Update } @else {Create}
    </button>
  </mat-dialog-actions>
</form>
