<div class="d-flex justify-content-start align-items-center">
  <button
    mat-mini-fab
    color="white"
    class="shadow-none rounded-5 me-4 border"
    (click)="goBack()"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h2 class="m-0">{{ currentProject?.name ?? "Project Name" }}</h2>
</div>
<!--  -->
<div class="d-flex justify-content-between align-items-center mt-4">
  <div class="d-flex justify-content-center align-items-center">
    <form [formGroup]="searchForm">
      <mat-form-field
        appearance="outline"
        subscriptSizing="dynamic"
        class="bg-white"
      >
        <input matInput placeholder="Search by name" formControlName="text" />
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        subscriptSizing="dynamic"
        class="bg-white ms-3"
      >
        <mat-select
          name="filter"
          formControlName="filter"
          (selectionChange)="searchPosition()"
        >
          <mat-option value="designation">designation</mat-option>
          <mat-option value="location">location</mat-option>
          <mat-option value="department">department</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <button
    mat-raised-button
    color="primary"
    class="shadow-none rounded-5"
    (click)="openDialog()"
  >
    <mat-icon class="me-1">add</mat-icon>
    Create Position
  </button>
</div>
<section class="overflow-y-auto dynamic-height">
  <div class="row gap-1 mt-4">
    <div class="col-md-8 dynamic-height overflow-auto">
      <table
        mat-table
        [dataSource]="dataSource"
        class="w-full mat-elevation-z1"
      >
        <!-- Designation Column -->
        <ng-container matColumnDef="designation">
          <th mat-header-cell *matHeaderCellDef>Designation</th>
          <td mat-cell *matCellDef="let element">{{ element.designation }}</td>
        </ng-container>

        <!-- Department Column -->
        <ng-container matColumnDef="department">
          <th mat-header-cell *matHeaderCellDef>Department</th>
          <td mat-cell *matCellDef="let element">{{ element.department }}</td>
        </ng-container>

        <!-- Budget Column -->
        <ng-container matColumnDef="budget">
          <th mat-header-cell *matHeaderCellDef>Budget</th>
          <td mat-cell *matCellDef="let element">
            &#8377; {{ element.budget | currencyToShortcode }}
          </td>
        </ng-container>

        <!-- Location Column -->
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef>Location</th>
          <td mat-cell *matCellDef="let element">{{ element.location }}</td>
        </ng-container>

        <!-- Last Updated Column -->
        <ng-container matColumnDef="lastUpdated">
          <th mat-header-cell *matHeaderCellDef>Last Updated</th>
          <td mat-cell *matCellDef="let element">
            <div class="row">
              <div class="col-12">
                <strong class="user">{{ element.user_name }}</strong>
              </div>
              <div class="col-12">
                <span class="text-muted">{{
                  element.updatedAt | date : "medium"
                }}</span>
              </div>
            </div>
          </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              (click)="deleteConfirm(deleteConfirmation, element)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      @if(positions.length === 0){
      <div class="text-center p-4 bg-white">
        <span class="fw-medium">No data found</span>
      </div>
      }
    </div>

    <div class="col-md-3">
      <app-budget-card></app-budget-card>
    </div>
    <!-- Pagination controls -->
    <!-- <mat-paginator
      [length]="totalItems"
      [pageSize]="50"
      [pageSizeOptions]="[50, 100, 150]"
    >
  </mat-paginator> -->
  </div>
</section>
<ng-template #deleteConfirmation>
  <div mat-dialog-content class="rounded-3">
    <span class="fs-6 fw-medium">Are you sure you want to delete?</span>
  </div>
  <div mat-dialog-actions align="end">
    <button
      mat-raised-button
      class="shadow-none rounded-5 border"
      (click)="onCancel()"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      class="shadow-none rounded-5"
      (click)="onConfirm()"
    >
      Delete
    </button>
  </div>
</ng-template>
