.chart-card {
  width: 350px;
  position: relative;
}
.card-title {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 18px;
  color: #1d2939;
}
.edit-link {
  color: #f39c12;
  font-size: 14px;
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
}
.chart-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-bottom: 20px;
}
.chart-center {
  position: absolute;
  text-align: center;
  top: 4.5em;
}
.chart-legend {
  margin-bottom: 20px;
}
.chart-legend ul {
  padding: 0;
  list-style-type: none;
}
.chart-legend li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.legend-color {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 8px;
}
.engineering {
  background-color: #489e9f;
}
.product {
  background-color: #81cb85;
}
.sales {
  background-color: #ffc74f;
}
.others {
  background-color: #70b0b1;
}
.budget-details {
  margin-top: 20px;
  font-size: 14px;
}
.budget-details p {
  margin: 5px 0;
}
