<mat-card class="chart-card">
  <mat-card-title class="card-title px-3 py-2">
    <div class="d-flex justify-content-start align-items-center">
      Budget <a href="#" class="edit-link ms-2">Edit</a>
    </div>
  </mat-card-title>
  <mat-card-content class="p-0">
    <div class="chart-container">
      <canvas
        width="40em"
        height="40em"
        baseChart
        [data]="doughnutChartData"
        [type]="doughnutChartType"
        [options]="doughnutChartOptions"
      >
      </canvas>
      <div class="chart-center">
        <p class="used">1.5 Cr</p>
        <p class="positions">Used</p>
        <p class="positions">12 Positions</p>
      </div>
    </div>
    <div class="chart-legend px-5">
      <ul>
        <li><span class="legend-color engineering"></span> Engineering 30%</li>
        <li><span class="legend-color product"></span> Product 20%</li>
        <li><span class="legend-color sales"></span> Sales 30%</li>
        <li><span class="legend-color others"></span> Others 10%</li>
      </ul>
    </div>
    <div class="budget-details border-top px-5 py-2">
      <p><strong>Total budget:</strong> ₹ 2 Cr</p>
      <p><strong>Used:</strong> ₹ 1.5 Cr</p>
      <p><strong>Left:</strong> ₹ 50 L</p>
    </div>
  </mat-card-content>
</mat-card>
