.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #faf7f2;
  overflow-x: hidden;
  overflow-y: hidden;
  .projects-container {
    padding: 1.5rem;
    background-color: white;
    width: calc(100vw - 8em);
    height: calc(100vh - 14em);
    overflow-y: auto;
  }
  .header {
    padding: 1.5em;
  }
}
